body {
  background: #E0F6E9;

}

html {
  user-select: none;

}

.App {
  text-align: center;
}

.pfp {
  object-fit: cover;
  border-radius: 100%;
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12%;
  margin-right: 14%;
}


.circleText {
  /* transform-origin: center; */
  width: 38vw;
  height: 38vw;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8%;
  margin-right: 10%;
  /* transform: translate(-50%, -50%); */
  /* Centers the text vertically and horizontally */
  /* z-index: 1; */
  /* Ensures the text appears on top */
}




.NameArt {
  margin-left: 5%;
  height: 50vw;
  position: absolute;
  top: 0;
  left: 0;
}

.MobileStartContainer {
  position: relative;
  height: 100vh;
  /* Adjust this value based on your desired container height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.MobilePfp {
  z-index: 9999;
  position: absolute;
  margin-top: 80%;
  margin-left: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.MobileNameArt {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 80%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}


/* ------------------ */

nav {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #F7FDF9;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.icon-placeholder img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.text-placeholder {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.text-placeholder div {
  display: block;
  max-width: 100%;
  max-height: 100%;

}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.WorkTitle {
  color: #0C2717;
  text-align: center;
  font-family: Great Sailor;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14063rem;
  text-transform: capitalize;

  position: absolute;
  bottom: -3.5em;
  margin-left: 5%;
}

.WorkSub {
  color: #0C2717;
  text-align: center;
  font-family: Great Sailor;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14063rem;
  text-transform: capitalize;
  text-align: left;
  position: absolute;
  width: 65%;
  bottom: -9.8em;
  margin-left: 7%;

}


.WorkTitleMobile {
  color: #0C2717;
  text-align: center;
  font-family: Great Sailor;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14063rem;
  text-transform: capitalize;

  position: absolute;
  bottom: -1.9em;
  left: 0;
  margin-left: 25%;
  text-align: center;
  //margin-left: 5%;
}

.WorkSubMobile {
  color: #0C2717;
  text-align: center;
  font-family: Great Sailor;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14063rem;
  text-transform: capitalize;
  text-align: left;
  position: absolute;
  width: 80%;
  bottom: -11em;
  left: 0;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  //margin-left: 7%;
}


// Dark Mode stuff




[data-darkmode="true"] {
  background-color: #0C2717;

  .background {
    background: #FFB247;

  }

  .text-placeholder {

    color: #0C2717;
    border: 2px solid #0C2717 !important;
  }

  .icon-placeholder {
    background-color: #0C2717;
    border: 2px solid #0C2717 !important;
  }

  .ToggleNav {
    filter: brightness(0) saturate(100%) invert(9%) sepia(9%) saturate(6550%) hue-rotate(103deg) brightness(92%) contrast(91%);
  }

  .WorkTitle {
    color: #E0F6E9 !important;

  }

  .WorkSub {
    color: #E0F6E9 !important;
  }

  .WorkTitleMobile {
    color: #E0F6E9 !important;
  }

  .WorkSubMobile {
    color: #E0F6E9 !important;
  }
}