.PersonalContent {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    box-shadow: inset 0 0 0 1000px rgba(12, 39, 23, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Titles {
    display: block;
    margin: 0px;
    padding-top: 5%;
    text-align: center;
    color: #E0F6E9;
    font-family: Great Sailor;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.underline {
    margin-top: 2%;
    width: 30%;

}

.PersonalPara {
    margin: 2%;
    padding: 5%;
    display: block;
    margin: 0px;
    padding-top: 5%;
    text-align: center;
    color: #E0F6E9;
    font-family: Great Sailor;
    font-size: 0.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.PersonalImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.ContentImages {

    z-index: 0;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Fill the entire container, cropping if necessary */
}

//Grid Personal
.parent {
    position: absolute;
    top: 40em;
    width: 70%;
    height: 45vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-left: 15%;
    margin-right: 15%;

}

.div1 {
    grid-area: 1 / 1 / 4 / 3;
    border-radius: 35px;
    width: 100%;
    height: 100%;

}

.div2 {
    grid-area: 4 / 1 / 8 / 3;
    border-radius: 35px;
    width: 100%;
    height: 100%;

}

.div3 {
    grid-area: 4 / 3 / 5 / 6;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    color: #FFB247;
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    color: #FFB247;
    text-align: center;
    font-family: Great Sailor;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14063rem;
    font-size: 7vw;
}

.div4 {
    grid-area: 1 / 3 / 4 / 6;
    border-radius: 35px;
    width: 100%;
    height: 100%;

}

.div5 {
    grid-area: 1 / 6 / 5 / 8;
    border-radius: 35px;
    width: 100%;
    height: 100%;

}

.div6 {
    grid-area: 5 / 6 / 8 / 8;
    border-radius: 35px;
    width: 100%;
    height: 100%;

}

.div7 {
    grid-area: 5 / 3 / 8 / 6;
    border-radius: 35px;
    width: 100%;
    height: 100%;

}