.PhotosMobile {
    position: absolute;
    top: 63em;
    left: 0;    
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.PhotoTitle1 {
    color: #0C2717;
    text-align: center;
    font-family: Great Sailor;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14063rem;
    text-transform: capitalize;
    margin-bottom: 2.5%;

}

.ImageTitles1 {
    position: absolute;
    font-size: 0.35em;
    text-align: center;
    padding: 1%;
    border-radius: 35px;
    background-color: #0C2717;
    color: #E0F6E9;

}

.parent1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 0px;

}

.parent2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div12 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.div22 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.div32 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.div42 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}




.Mountains,
.Sports,
.Wildlife,
.Zürich {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

[data-darkmode="true"] {

    .PhotoTitle {
        color: #E0F6E9;
    }
}

//hover effects
.div12:hover {
    transform: scale(102%);
}

.div22:hover {
    transform: scale(102%);
}

.div32:hover {
    transform: scale(102%);
}

.div42:hover {
    transform: scale(102%);
}

// Darkmode

[data-darkmode="true"] {
    .PhotoTitle1 {
        color: #E0F6E9;
    }
}