.flip{
    position: absolute;
    bottom: 100%;
    margin-top: 20%;
    margin-left: 10%;

    border-radius: 100%;
    background-color:#F7FDF9 ;
}

.cardItem{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}