.flip {
    position: absolute;

    left: 0.7em;
    top: 29em;
    border-radius: 100%;
    background-color: #F7FDF9;
}

.flip2 {
    position: absolute;

    left: 0.7em;
    top: 33em;
    border-radius: 100%;
    background-color: #F7FDF9;
}
.flip2:hover {
    transform: scale(110%);
}
.flip:hover {
    transform: scale(110%);
}
.cardItem {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.LangTitle {
    margin-top: 5%;
    color: #F7FDF9;
}

.SkillLogo {
    background-color: #F7FDF9;
    padding: 2.5%;
    border-radius: 100%;
    margin-top: 2%;
    width: 4em;
    height: 4em;
}


// Darkmode shazam

[data-darkmode="true"] {
    .flip {

        background-color: #0C2717 !important;
    }

    .flip2 {

        background-color: #0C2717 !important;
    }


    .LangTitle {

        color: #0C2717 !important;
    }

    .SkillLogo {
        background-color: #0C2717 !important;

    }
}