.Socials {
    z-index: 1;
    background-color: #E0F6E9;
    position: absolute;
    bottom: -90em;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Adjust the height as needed */
}

.parent3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: Great Sailor;

}

.reachouts {
    width: 5.5em;
    height: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 0%;
    background-color: #E0F6E9;
}

.div13 {
    grid-area: 1 / 1 / 2 / 2;
}

.div23 {
    grid-area: 1 / 2 / 2 / 3;
}

.div33 {
    grid-area: 1 / 3 / 2 / 4;
}

.SocialTitle {
    position: absolute;
    bottom: 8.3em;
    text-align: center;
    z-index: 888;

    
}

//Socials grid


.SocialsParent {
    position: absolute;
    bottom: 4.5em;
    z-index: 1;
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 2fr 2fr;
    /* Adjust the row heights as needed */
    grid-column-gap: 3.5em;
    grid-row-gap: 3em;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.socialLogos {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.Instagram {

    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 1 / 1 / 2 / 2;
    aspect-ratio: 1;
}

.Discord {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 1 / 2 / 2 / 3;
    aspect-ratio: 1;
}

.Cv {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 1 / 3 / 2 / 4;
    aspect-ratio: 1;
}

.Linkedin {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 2 / 3 / 3 / 4;
    aspect-ratio: 1;
}

.Lightroom {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1;
}

.Mail {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 2 / 1 / 3 / 2;
    aspect-ratio: 1;
}

.Instagram:hover {
    transform: scale(103%);
    z-index: 1000 !important;
}

.Discord:hover {
    transform: scale(103%);
    z-index: 1000 !important;
}

.Cv:hover {
    transform: scale(103%);
    z-index: 1000 !important;}

.Linkedin:hover{
    transform: scale(103%);
    z-index: 1000 !important;}

.Lightroom:hover {
    transform: scale(103%);
    z-index: 1000 !important;}

.Mail:hover {
    transform: scale(103%);
    z-index: 1000 !important;}

[data-darkmode="true"] {
    .div13,.div23,.div33{
        background-color: #0C2717;
    }
    .Socials {
        background-color: #0C2717;
    }
    .parent3{
        background-color: #0C2717;
    }
    .Socials {
        background-color: #0C2717;
    }
    .reachouts {
        background-color: #0C2717;
    }
    .socialLogos {
        //filter: brightness(0) saturate(100%) invert(13%) sepia(13%) saturate(1682%) hue-rotate(92deg) brightness(97%) contrast(100%)
        -webkit-filter: invert(100%);
        /* safari 6.0 - 9.0 */
        filter: invert(100%);
    }

    .Instagram {
        background-color: #E0F6E9;
    }

    .Discord {
        background-color: #E0F6E9;
    }

    .Cv {
        background-color: #E0F6E9;
    }

    .Linkedin {
        background-color: #E0F6E9;
    }

    .Lightroom {
        background-color: #E0F6E9;
    }

    .Mail {
        background-color: #E0F6E9;
    }
}

@media screen and (min-width: 2001px) {
    .Socials {
        bottom: -93em;
    }
}

@media screen and (max-width: 1366px) {
    
.SocialTitle {
    position: absolute;
    bottom: 7.5em;
    text-align: center;
    z-index: 888;
}
}
