.SocialsMobile {
    background-color: #E0F6E9;
    position: absolute;
    bottom: -73em;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    // height: 100vh;
    /* Adjust the height as needed */
}

.parent4 {
    position: absolute;
    display: grid;
    bottom: -50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.2em;
    grid-row-gap: 0.0px;

}

.div14 {
    grid-area: 1 / 1 / 2 / 2;
}

.div24 {
    grid-area: 1 / 2 / 2 / 3;
}

.reachoutsMobile {
    color: #0C2717;
    width: 3.75em;
    height: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
}





[data-darkmode="true"] {
    .Socials {
        background-color: #0C2717;
    }
}



.SocialTitleMobile {
    position: absolute;
    bottom: 5.5em;

    z-index: 999;
    transform: rotate(90deg);
    /* Adjust to center and rotate */
}

//Socials grid


.SocialsParentMobile {
    position: absolute;
    width: 5.25em;
    top: -10em;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    z-index: 998;
    grid-column-gap: 1.355em;
    grid-row-gap: 0.5em;

}

.socialLogos {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.InstagramMobile {

    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 1 / 1 / 2 / 2;
    aspect-ratio: 1;
}

.DiscordMobile {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 1 / 2 / 2 / 3;
    aspect-ratio: 1;
}

.CvMobile {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 2 / 1 / 3 / 2;
    aspect-ratio: 1;
}

.LinkedinMobile {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 2 / 2 / 3 / 3;
    aspect-ratio: 1;
}

.LightroomMobile {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 3 / 1 / 4 / 2;
    aspect-ratio: 1;
}

.MailMobile {
    background-color: #0C2717;
    border-radius: 35px;
    grid-area: 3 / 2 / 4 / 3;
    aspect-ratio: 1;
}


[data-darkmode="true"] {

    .socialLogos {
        //filter: brightness(0) saturate(100%) invert(13%) sepia(13%) saturate(1682%) hue-rotate(92deg) brightness(97%) contrast(100%)
        -webkit-filter: invert(100%);
        /* safari 6.0 - 9.0 */
        filter: invert(100%);
    }

    .InstagramMobile {
        background-color: #E0F6E9;
    }

    .DiscordMobile {
        background-color: #E0F6E9;
    }

    .CvMobile {
        background-color: #E0F6E9;
    }

    .LinkedinMobile {
        background-color: #E0F6E9;
    }

    .LightroomMobile {
        background-color: #E0F6E9;
    }

    .MailMobile{
        background-color: #E0F6E9;
    }
}
