.container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10%;
    z-index: 9999999999999999 !important;
    height: 0.7em;
    width: 1.5em;
    background-color: #FFB247;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    cursor: pointer;
    transition: all .3s;
}

.handle {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #0C2717;
    overflow: hidden;
}

.icon {
    color: #f88748;
}

[data-darkmode="true"] {
    background-color: #0C2717;

    .container {
       background-color: #0C2717;
    }

    .icon {
        background-color: #0C2717;
    }
    .handle{
        background-color: #FFB247;
    }
}